<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/bootstrap.min.css">

    <link rel="icon" type="image/png" href="../static/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../static/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../static/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Online Library" />
    <link rel="manifest" href="../static/favicon/site.webmanifest" />

    <title>Online Library</title>
  </head>
  <body>
    <div class="container">
      <nav class="row mt-5" aria-label="Books pages navigation">
        <ul class="pagination mx-auto">
          {% if cur_page == 1 %}
            <li class="page-item disabled"><span class="page-link">Назад</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{cur_page - 1}}.html">Назад</a></li>
          {% endif %}
          {% for page_num in range(1, count_pages + 1) %}
            {% if page_num == cur_page %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="">{{page_num}}<span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="../pages/index{{page_num}}.html">{{page_num}}</a></li>
            {% endif %}
          {% endfor %}
          {% if cur_page == count_pages %}
            <li class="page-item disabled"><span class="page-link">Вперёд</span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="../pages/index{{cur_page + 1}}.html">Вперёд</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="row">        
        {% for book in books %}
          <div class="card mb-3 col-6" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../media/{{book.img_src|urlencode}}" class="card-img" alt="{{book.title}} - {{book.author}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{book.title}}</h5>
                  <p class="card-text">{{book.author}}</p>
                  {% set genres = book.genres.split(", ") %}
                  {% for genre in genres %}
                    <span class="badge badge-light">{{genre}}</span>
                  {% endfor %}
                  <p class="card-text mt-1"><small class="text-muted"><a href="../media/{{book.book_path|urlencode}}" target="_blank">Читать</a></small></p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>

  </body>
</html>